@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', 'Poppins', 'Arial', sans-serif;
}

/* CREATE BUTTON STYLES */
.btn-create {
    /* border: 2px solid #24b4fb; */
    border: none;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    /* margin-left: -63em; */
    /* margin-top: 1.6em; */
   }
   
   .btn-create span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   .btn-container{
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
   }

/* CREATE BUTTON STYLES */

.btn-create{
  background-color: #238cc0;
}
.btn-create:hover{
    background-color: #0071e2;
}

/* UPDATE BUTTON STYLESS */

.btn-update-delete {
  /* border: 2px solid #24b4fb; */
  border: none;
  border-radius: 0.9em;
  padding: 0.4em 2em;
  transition: all ease-in-out 0.2s;
  font-size: 14px;
  cursor: pointer;
 }

 .btn-update{
  background: #f0af35;
  color: white;
  font-size: 16px;
 }

 .btn-update:hover{
  background: #e69e18;
 }

 .btn-delete{
  background: rgb(246, 79, 79);
  color: white;
 }

 .btn-delete:hover{
  background: rgb(235, 44, 44);
 }

 .stocks-add-btn{
  margin-left: -35rem;
 }

.inventory-add-btn{
  margin-left: -40rem;
 }

 .btn-none {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

.btn-none:hover {
  background-color: #f0f0f0;
}

.btn-discard-stock{
  background-color: hsl(0, 73%, 65%)
}

.btn-discard-stock:hover{
  background-color: hsl(0, 48%, 54%)

}