@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Poppins', 'Arial', sans-serif;
}

/* trials */
.table-container {
    overflow-y: auto; /* make the container scrollable */
    height: 500px; /* give a fixed height to the container */
    margin-top: 1.5em;
}



.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 1100px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: -0.1em;
}

.content-table thead tr {
    background-color: #695CFE;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    position: sticky;
    top: 0; /* Stick the header to the top */
}


.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}



/* .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #8368fd;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table tbody {
    /* background: green; */
    border-radius: 8px;
}

.table-container{
    /* background: pink; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin-left: 3.8em; */
}

.actions-buttons-container{
    /* background: yellow; */
    display: flex;
    justify-content: space-around;
}

/* Hide the scrollbar but keep it functional */
.table-container::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
}

/* Optional: Style the scrollbar track (background) */
.table-container::-webkit-scrollbar-track {
    background: transparent; /* Set the scrollbar track color */
}

/* Optional: Style the scrollbar thumb (handle) */
.table-container::-webkit-scrollbar-thumb {
    background: transparent; /* Set the scrollbar thumb color */
}

.low-stock {
    background-color: #f39191;
}

.expiring-soon {
    background-color: #f0dec7;
}

.already-expired{
    background-color: #c0c0bf;
}
